@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0 !important;
  resize: none;
  box-sizing: border-box;
  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  -webkit-tap-highlight-color: transparent;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --border: 240 5.9% 90%;
    --shadow: #ffffff80;
    --selection: #1618230f;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --muted-foreground: 240 5% 64.9%;
    --border: 240 3.7% 15.9%;
    --shadow: #0a0a0acc;
    --selection: #26262680;
  }
}

html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;

  color: hsl(var(--foreground));
  background-color: hsl(var(--background));
}

button,
a, li, img, textarea {
  transition: 0.3s;
}

button, img {
  user-select: none;
}

button, a {
  cursor: pointer;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.4rem;
  background-color: hsl(var(--border));
}

::selection {
  background-color: var(--selection);
}

#notification-root {
  position: fixed;
}

.linkSelected {
  border-color: hsl(var(--border)) !important;
}
