@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0 !important;
  resize: none;
  box-sizing: border-box;
  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  -webkit-tap-highlight-color: transparent;
}

@layer base {
  :root {
    --background: #fafafa;
    --primary: #171717;
    --gray-100: #666666;
    --gray-200: #eaeaea;
    --hover: #f2f2f2;
    --shadow: #ffffff80;
    --selection: #1618230f;
    --button: #383838;
  }

  .dark {
    --background: #0f0f0f;
    --primary: #ededed;
    --gray-100: #888888;
    --gray-200: #26262699;
    --hover: #1a1a1a;
    --shadow: #0a0a0acc;
    --selection: #26262680;
    --button: #cccccc;
  }
}

html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;

  color: var(--primary);
  background-color: var(--background);
}

button,
a, li, img, textarea {
  transition: 0.3s;
}

button, img {
  user-select: none;
}

button, a {
  cursor: pointer;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.4rem;
  background-color: var(--gray-200);
}

::selection {
  background-color: var(--selection);
}

#notification-root {
  position: fixed;
}

.linkSelected {
  border-color: var(--gray-200) !important;
}
