@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0 !important;
  resize: none;
  box-sizing: border-box;
  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  -webkit-tap-highlight-color: transparent;
}

@layer base {
  :root {
    --background: 60, 20%, 99%;
    --foreground: 240 10% 3.9%;
    --muted-foreground: 45, 5%, 55%;
    --border: 0, 0%, 83%, 0.7;
    --shadow: 60, 20%, 99%, 0.3;
  }

  .dark {
    --background: 60, 3%, 6%;
    --foreground: 0 0% 98%;
    --muted-foreground: 0, 0%, 49%;
    --border: 0, 0%, 15%;
    --shadow: 0, 0%, 4%, 0.8;
  }
}

html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;

  color: hsl(var(--foreground));
  background-color: hsl(var(--background));
}

button,
a,
li,
img,
textarea {
  transition: 0.3s;
}

button,
img {
  user-select: none;
}

button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.4rem;
  background-color: hsl(var(--border));
}

.linkSelected {
  border-color: hsl(var(--border)) !important;
}
